@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;	
}

html, body {
  height: 100%;
}

.container {
	width: 1200px;
	margin: 0 auto -50px;
	border-right: 1px solid black;
	border-left: 1px solid black;
	height: 100vh;
}

header {
	padding: 10px;
}

#logo {
	display: inline-block;
    width: calc(30% - 10px);
    font-size: 30px;
    position: relative;
    bottom: -5px;
    color: green;
    font-weight: bold; 
}

#localization {
	display: inline-block;
	width: 40%;
}

#localization form {
	display: inline;
}

#localization form button {
	font-size: 22px;
	cursor: pointer;
	padding: 3px;
	margin: 3px;
}

ul {
	list-style: none;
}

nav {
	display: inline-block;
	width: calc(30% - 10px);
}



nav ul {
	text-align: right;
}

nav ul li {
	display: inline;
	margin: 5px;
	cursor: pointer;
	color: blue;
	font-size: 20px;
}

nav ul li a {
	text-decoration: none;
}

nav ul li a:hover {
	color:green;
}

#helloUser{
	padding: 20px 10px;
	font-size: 20px;
	color: green;
}



footer {
	height: 50px;
	line-height: 50px;
}

#login-form, #register-form {
	background: #aaa;
	border: 1px solid black;
	width: 300px;
	margin: 50px auto;
	padding: 7px;
}

#login-form input, #register-form input {
	display: block;
	width: 100%;
	margin: 2px 0 10px;
	font-size: 16px;
	padding: 3px;
}

.user-page {
	border: 1px solid black;
	background: #aaa;
	font-size: 20px;
	margin: 20px 0;
	font-style: italic;
}

.user-page a {
	cursor: pointer;
	text-decoration: none;
	display: block;
}

.link-block {
	margin-top: 20px;
}

#delete-user-modal {
	margin: 50px auto;
	padding: 20px 20px 30px;
	border: 1px solid black;
	background: #aaa;
	width: 400px;
	
}

#delete-user-modal h4{
	font-size: 26px;
	font-weight: normal;
	margin-bottom: 40px;	
}

#delete-user-modal a{
	text-decoration: none;
    cursor: pointer;
    border: 1px solid black;
    background: #696969;
    padding: 7px 15px;
    margin: 50px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;	
}

