@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

#login-form, #register-form {
	background: #aaa;
	border: 1px solid black;
	width: 300px;
	margin: 50px auto;
	padding: 7px;
}





#login-form input, #register-form input {
	display: block;
	width: 100%;
	margin: 2px 0 10px;
	font-size: 16px;
	padding: 3px;
}